ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-style: normal;
    
}
nav ul li a:hover, nav ul li a:focus{ background-color: plum;
    
}
